@import "scss/bootstrap";

//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Roboto:wght@100;400;700;900&display=swap');




//font variables
$font_family-a: 'Roboto', sans-serif;
$font_family-b: 'Butterfly Kids', 'cursive', sans-serif;



// color variales
$white: #ffffff;
$black: #000000;
$d-blue: #271344;
$blue: #1AB9FD;
$color-orange: #FCC000;
$color-crimson: #FD6766;
$color-green: #ACCC4F;
$color-yellow: #FDC100;
$d-pink: #FF4981;



//buttons
.btn {
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    display: inline-block;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

.btn_white-fill {
    background-color: $white;

}


// body {
//     // font-family: 'Inter', sans-serif;
//     // // font-size: 1rem;
//     // font-weight: 400;
//     // overflow: hidden;
//     // overflow-y: auto;
// }


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}


// styling of theme buttons

.btn_theme {
    display: inline-block;
    text-decoration: none;
    padding: .6rem 1.5rem .5rem;
    border-radius: 3rem;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: calc(.6rem + .2vw);
    transition: all ease-in-out .2s;
}

//generic styling

.container {
    max-width: 85rem;
}

body {
    font-family: $font_family-a;
}


.sec_place-nerrow{
    padding: 1rem 0;
}

.ul_style{
    display: flex;
    align-items: center;
    list-style: none;
}

.gap_normal{
    gap: .5rem;
}

.nav_item{
    display: inline-block;
    text-decoration: none;
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    font-size: calc(.7rem + .5vw);
    &:hover{
        background-color: rgba($white, .3);
    }
}

.nav_btn-white{
    color: $white;
    &:hover{
        color: $white;
    }
}

.nav_btn-blue{
    color: $d-blue;
}
.sec_heading {
    text-align: center;
    // color: $theme_yellow;
    



    h2 {
        display: inline-block;
        font-size: calc(1rem + 1.5vw);
        line-height: calc(1rem + 2vw);
        

        small {
            // color: $theme_orange;
            font-size: 110%;
            font-family: $font_family-a;
            font-weight: bold;
            display: block;

        }
    }

    .sec_heading-img{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        

        &:before,&:after{
            content: '';
            position: absolute;
            width: calc(3rem + 2vw);
            height: 1px;
            background-color: green;
            
        }

    
        img {
            height: calc(2rem + 1vw);
            // width: calc(3rem + 4vw);
            padding: 0 .25rem;

        }

    }

    // .sec_heading-img:before{
    //     left: 0;
    //     transform: translate(-100%, calc(.4rem + .7vw));
    // }

    .sec_heading-img:after{
        right: 0;
        transform: translate(100%, calc(.4rem + .7vw));
    }

    

}


//styling of nav section

.nav_top{
    background-color: $d-blue;

    .row{
        align-items: center;
    }
    
}

.nav_top-left{
    margin-top: 0;
    flex-wrap: wrap;

    i{
        color: $orange;
        font-size: 110%;
        margin-right: .25rem;
    }

    .nav_item{
        font-size: calc(.9rem + .2vw);
    }
}


.nav_top-right{
    margin-top: 0!important;
    justify-content: flex-end;

    li:nth-child(1) .nav_right-item{
        background: $blue;
      }

    li:nth-child(2) .nav_right-item{
        background: $d-pink;
    }

    li:nth-child(3) .nav_right-item{
        background: $color-yellow;
    }

    li:nth-child(4) .nav_right-item{
        background: $color-green;
    }
}
.nav_right-item{
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: calc(.7rem + .5vw);
        color: $white;
    }
}
@media(max-width: 992px) {
    .intro_inner [class^="col-"] {
        margin-top: 1rem;
    }

    .nav_top-right {
        margin-top: .5rem;
    }

    .jst_lg-center{
        justify-content: center;
    }
}

@media(max-width: 810px){
    .nav_top [class^="col-"] {
        width: 100%;
    }
}

@media(max-width: 768px) {

    // 

}

@media(max-width: 576px) {

    

    .nav_top-left{
        display: none;
    }

// 
//     
//     
// 
//     
}