@import "scss/bootstrap";

//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');




//font variables
$font_family-a: 'Roboto', sans-serif;
$font_family-b: 'Butterfly Kids', sans-serif;



// color variales
$white: #ffffff;
$black: #000000;
$d-blue: #271344;
$blue: #1AB9FD;
$color-orange: #FCC000;
$color-crimson: #FD6766;
$color-green: #ACCC4F;
$color-yellow: #FDC100;
$d-pink: #FF4981;



//buttons
.btn {
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    display: inline-block;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

.btn_white-fill {
    background-color: $white;

}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}


// styling of theme buttons

.btn_theme {
    display: inline-block;
    text-decoration: none;
    padding: .7rem 1.3rem .6rem;
    border-radius: .5rem;
    font-size: calc(.8rem + .2vw);
    transition: all ease-in-out .2s;
    background-color: $d-pink;
    color: $white;
    border: 1px solid transparent;

    &:hover{
        background-color: $white;
        border-color: $d-pink;
        color: $color-crimson;
    }

}

//generic styling

.container {
    max-width: 55rem;
}

body {
    font-family: $font_family-a;
}


.sec_place-nerrow{
    padding: 1rem 0;
}

.sec_sp-n{
    padding: 2rem 0;
}

.ul_style{
    display: flex;
    align-items: center;
    list-style: none;
}

.gap_normal{
    gap: .5rem;
}

.nav_item{
    display: inline-block;
    text-decoration: none;
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    font-size: calc(.7rem + .5vw);
    &:hover{
        background-color: rgba($white, .3);
    }
}

.nav_btn-white{
    color: $white;
    &:hover{
        color: $white;
    }
}

.nav_btn-blue{
    color: $d-blue;
}

.sec_heading {
    text-align: center;
    // color: $theme_yellow;
    



    h1,h2 {
        display: inline-block;
        // font-size: calc(1rem + 1.5vw);
        line-height: calc(1.3rem + 2vw);
        font-weight: 700;
        font-family: $font_family-a;
        color: $d-blue;
        margin-bottom: .6rem;
        

        small {
            font-size: 80%;
            font-family: $font_family-b;
            display: block;
            color: $color-crimson;

        }
    }

    p{
        line-height: 1.5rem;
        font-size: calc(.6rem + .5vw);
        color: #919191;
    }

    .sec_heading-img{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        

        &:before,&:after{
            content: '';
            position: absolute;
            width: calc(3rem + 2vw);
            height: 1px;
            background-color: green;
            
        }

    
        img {
            height: calc(2rem + 1vw);
            // width: calc(3rem + 4vw);
            padding: 0 .25rem;

        }

    }

    // .sec_heading-img:before{
    //     left: 0;
    //     transform: translate(-100%, calc(.4rem + .7vw));
    // }

    .sec_heading-img:after{
        right: 0;
        transform: translate(100%, calc(.4rem + .7vw));
    }

    

}


//styling of nav section

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.nav_top{
    background-color: $d-blue;

    .row{
        align-items: center;
    }
    
}

.nav_top-left{
    margin-top: 0;
    flex-wrap: wrap;

    i{
        color: $color-yellow;
        font-size: 110%;
        margin-right: .25rem;
    }

    .nav_item{
        font-size: calc(.9rem + .2vw);
    }
}


.nav_top-right{
    margin-top: 0!important;
    justify-content: flex-end;

    li:nth-child(1) .nav_right-item{
        background: $blue;
      }

    li:nth-child(2) .nav_right-item{
        background: $d-pink;
    }

    li:nth-child(3) .nav_right-item{
        background: $color-yellow;
    }

    li:nth-child(4) .nav_right-item{
        background: $color-green;
    }
}


.nav_right-item{
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: calc(.7rem + .5vw);
        color: $white;
    }
}

.navbar-light .navbar-nav .nav-link{
    font-size: calc(.9rem + .3vw);
    padding: .5rem .8rem;
    color: $d-blue;
    font-weight: 400;
}

.navbar-nav .nav-item .active{
    background-color: $d-pink;
    color: $white;
    border-radius: .5rem;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.search_btn{

     animation: borderAnimation 0.9s infinite linear;
        
        
     @keyframes borderAnimation {
        
         0%{
         }

        100%{
        }

    }


    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-image: url(../img/circle.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


//styling of hero_sec

.hero_sec{
    .row{
        max-width: 100%;
    }
}
$custom_width: calc(100% - 27.5rem);
.hero_text-sec{
    height: 80vh;
    width: 100%;
    padding-left: calc($custom_width + 12px);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero_text-inner{
        padding: 0 12px;
        
        .sec_heading{
            text-align: left;
        }

        .btn_theme{
            margin-top: 1.3rem;
        }
    }
}

// *{
//     border: 1px solid red;
// }
.hero_sec-img{
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-img-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


@media(max-width: 992px) {
    .intro_inner [class^="col-"] {
        margin-top: 1rem;
    }

    .search_btn{
        background-image: none;
        color: $d-pink;
    }
    .nav_top-right {
        margin-top: .5rem;
    }

    .jst_lg-center{
        justify-content: center;
    }
}

@media(max-width: 810px){
    .nav_top [class^="col-"] {
        width: 100%;
    }

    .nav_top-left{
        justify-content: center;
    }
}

@media(max-width: 768px) {

    // 

}

@media(max-width: 576px) {

    

    .nav_top-left{
        display: none;
    }

// 
//     
//     
// 
//     
}

.p-l-0{
    padding-left: 0!important;
}

