@import "scss/bootstrap";

//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');

// *{
//     border: 1px solid red;
// }


//font variables
$font_family-a: 'Roboto', sans-serif;
$font_family-b: 'Butterfly Kids', sans-serif;



// color variales
$white: #ffffff;
$black: #000000;
$d-blue: #271344;
$blue: #1AB9FD;
$color-orange: #FCC000;
$color-crimson: #FD6766;
$color-green: #ACCC4F;
$color-yellow: #FDC100;
$d-pink: #FF4981;
$color_l-gray: #878786;

.site_wrapper{
    overflow-x: hidden;
}

//buttons
.btn {
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    display: inline-block;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

.btn_white-fill {
    background-color: $white;

}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}


// styling of theme buttons

.btn_theme {
    display: inline-block;
    text-decoration: none;
    padding: .7rem 1.3rem .6rem;
    border-radius: .5rem;
    font-size: calc(.8rem + .2vw);
    transition: all ease-in-out .2s;
    background-color: $d-pink;
    color: $white;
    border: 1px solid transparent;

    &:hover{
        background-color: $white;
        border-color: $d-pink;
        color: $color-crimson;
    }

}

//generic styling
.heading_format{
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 800;
    color: $d-blue;
}

.m-b-p2em{
    margin-bottom: .2em;
}

.m-b-p5em{
    margin-bottom: .5em;
}

.m-b-2em{
    margin-bottom: 2em;
}
.m-t-1em{
    margin-top: 1em;
}

.f-p8em{
    font-size: .8em;
}



.c-l-g{
    color: $color_l-gray;
}

.p_none{
    padding: 0;
}
.m_none{
    margin: 0;
}

.container {
    max-width: 90rem;
}

body {
    font-family: $font_family-a;
}


.sec_place-nerrow{
    padding: 1rem 0;
}

.sec_space{
    padding: 2rem 0;
}

.ul_style{
    display: flex;
    align-items: center;
    list-style: none;
}

.gap_normal{
    gap: .5rem;
}

.nav_item{
    display: inline-block;
    text-decoration: none;
    padding: .5rem .75rem;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    font-size: calc(.7rem + .5vw);
    &:hover{
        background-color: rgba($white, .3);
    }
}

.nav_btn-white{
    color: $white;
    &:hover{
        color: $white;
    }
}

.nav_btn-blue{
    color: $d-blue;
}

.sec_heading {
    text-align: center;
    position: relative;
    // color: $theme_yellow;
    



    h1,h2 {
        display: inline-block;
        // font-size: calc(1rem + 1.5vw);
        line-height: calc(1.3rem + 2vw);
        font-weight: 700;
        font-family: $font_family-a;
        color: $d-blue;
        margin-bottom: .6rem;
        

        small {
            font-size: 80%;
            font-family: $font_family-b;
            display: block;
            color: $color-crimson;

        }
    }

    p{
        line-height: 1.5rem;
        font-size: calc(.6rem + .5vw);
        color: #919191;

        padding-bottom: 5rem;
    }

    

    .heading_img{
        position: absolute;
        bottom: 0;
        left: 45%;
        transform: translateX(-50%);
        width: 5em;
        animation: heading_anin 1.5s linear infinite;

        @keyframes heading_anin {
            0%{
                transform: translateX(0);
            }

            // 25%{
            //     transform: translateX(20%);
            // }

            50%{
                transform: translateX(-20%);
            }

            100%{
                transform: translateX(0);
            }
        }
    }

    

}


//styling of nav section

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.header_wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 10;
    box-shadow: 0 6px 11px rgb(0 0 0 / 30%), 0 6px 11px rgb(0 0 0 / 22%);
}

.nav_top{
    background-color: $d-blue;

    .row{
        position: relative;
        align-items: center;
    }
    
}

.nav_top-left{
    margin-top: 0;
    flex-wrap: wrap;

    i{
        color: $color-yellow;
        font-size: 110%;
        margin-right: .25rem;
    }

    .nav_item{
        font-size: calc(.9rem + .2vw);
    }
}


.nav_top-right{
    margin-top: 0!important;
    justify-content: flex-end;

    li:nth-child(1) .nav_right-item{
        background: $blue;
      }

    li:nth-child(2) .nav_right-item{
        background: $d-pink;
    }

    li:nth-child(3) .nav_right-item{
        background: $color-yellow;
    }

    li:nth-child(4) .nav_right-item{
        background: $color-green;
    }
}


.nav_right-item{
    width: calc(1.5rem + 1vw);
    height: calc(1.5rem + 1vw);
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: .8em;
        color: $white;
    }
}

.navbar-light .navbar-nav .nav-link{
    font-size: calc(.9rem + .3vw);
    padding: .5rem .8rem;
    color: $d-blue;
    font-weight: 400;
}

.navbar-nav{
    align-items: center;
}

.navbar-nav .nav-item .active{
    background-color: $d-pink;
    color: $white;
    border-radius: .5rem;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.search_icon {
    text-decoration: none;
    width: calc(1.5rem + .5vw);
    height: calc(1.5rem + .5vw);
    border-radius: 50%;
    background-color: $d-pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: relative;
    transition: all .3s ease-in-out;
  
    &:before {
      content: '';
      position: absolute;
      inset: -.35rem;
      border-radius: inherit;
      border: $d-pink 3px dashed;
      animation: rotateBorder 10s linear infinite;
    }

    &:hover{
        background-color: $color-green;
        i{
            color: $color-crimson;
            
        }
    }
  
    i{
      font-size: .8em;
    }
  
  }
  
  @keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }



//styling of hero_sec

.hero_sec{
    position: relative;
    margin-top: 8.5rem;

    .hero_foot-img{
        position: absolute;
        width: 100%;
        height: 2rem;
        bottom: 0;
        left: 0;
        z-index: 5;

    }

    .hero_img-a{
        position: absolute;
        bottom: 2rem;
        right: 0;
        z-index: 2;
        width: 25em;
        opacity: .8;
        animation: img_a-anim 4s linear infinite;

        @keyframes img_a-anim {
            0% {
                transform: translateX(20%);

            }

            50% {
                transform: translateX(30%);
            }
            
            100% {
                
                transform: translateX(20%);
                
            }
        }

    }

    .hero_img-b{
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: 2;
        width: 18em;
        
        animation: img_b-anim 4s linear infinite;

        @keyframes img_b-anim {
            0% {
                transform: translateY(20%);

            }

            50% {
                transform: translateY(30%);
            }
            
            100% {
                
                transform: translateY(20%);
                
            }
        }
    }
    .row{
        max-width: 100%;
        align-items: center;
    }
}


$custom_width: calc(100% - 45rem);

.hero_text-sec{
    // height: 80vh;
    width: 100%;
    padding-left: calc($custom_width + 12px);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero_text-inner{
        padding: 0 12px;
        
        .sec_heading{
            text-align: left;
        }

        .btn_theme{
            margin-top: 1.3rem;
        }
    }
}


.carousel-item{
    width: 100%;
    height: 80vh;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($black, .2);
    }
}

.hero_sec-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    

}



// styling of our_envoirnment

.card_a{
    background-color: $color-crimson;
}

.card_b{
    background-color: $color-orange;
}

.card_c{
    background-color: $color-green;
}

.card_d{
    background-color: $color-yellow;
}

.envoirnment_sec-card{
    border-radius: .5rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    .envoirnment_card-img{
        display: block;
        
        margin: 2em auto 1.5em;
        position: relative;
        width: 9em;
        padding-top: 9em;
        border-radius: 50%;
        background-color: gainsboro;

        &::after{
            content: "";
             position: absolute;
             inset: -0.5rem;
             display: flex;
             justify-content: center;
             align-items: center;
             border-radius: inherit;
             border: #FF4981 3px dashed;
             animation: rotateBorder 10s linear infinite;
        }
        

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;

            border-radius: 50%;
        }
    }

}

.env_card-text{
    color: $white;
}

.env_card-heading{
    font-size: 2em;
    font-weight: bold;
    margin: 1rem 0;
}

.env_card-para{
    font-size: 1em;
    line-height: 1.5em;
}

.enroll_sec{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    flex-wrap: wrap;
    align-items: center;
}

.enroll_sec-heading{
    color: $d-blue;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: capitalize;
    // width: 80%;
    span{
        color: $color-crimson;
    }
    small{
        font-size: 65%;
        display: block;
        font-weight: normal;
        margin-top: .5em;
    }
}


//styling of our_vision

.our_vision{
    background-color: #FCF9F4;
}

.vision_row{
    align-items: center;
}

.vision_img-sec{
    height: 80vh;
    width: 100%;
    position: relative;

}

.vision_img{
    position: absolute;
    width: 18em;
    padding-top: 12em;
    
    
    

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
         object-fit: cover;
    }
}

.vision_img-a{
    top: 10em;
    left: 10em;
    border: .7rem solid #eaeaea;
    border-radius: .5rem;
    transform: rotate(15deg);
    animation: anim_a 4s linear infinite;
}

.vision_img-b{
    top: 22em;
    left: 13em;
    border-radius: .5rem;
    border: .7rem solid #eaeaea;
    transform: rotate(-15deg);
    animation: anim_b 4s linear infinite;
}

.vision_img-c{
    position: absolute;
    top: 15em;
    left: 30em;
    width: 4em;

    animation: anim_c 4s linear infinite;

}

.vision_img-d{
    position: absolute;
    top: 15em;
    left: 10em;
    width: 6em;
    animation: anim_c 4s linear infinite;

}

.vision_img-e{
    position: absolute;
    top: 3em;
    left: 7em;
    width: 5em;
    animation: anim_c 4s linear infinite;

}

.vision_img-f{
    position: absolute;
    top: 30em;
    left: 20em;
    width: 4em;
    animation: anim_c 4s linear infinite;

}

.vision_img-g{
    position: absolute;
    top:30em;
    left: 31em;
    width: 6em;
    animation: anim_c 4s linear infinite;

}



    @keyframes anim_a {
        0% {
            transform: translateY(20%) rotate(5deg);

        }

        50% {
            transform: translateY(30%) rotate(2deg);
        }
            
        100% {
                
            transform: translateY(20%) rotate(5deg);
                
        }
    }

    @keyframes anim_b {
        0% {
            transform: translateY(20%) rotate(-15deg);

        }

        50% {
            transform: translateY(30%) rotate(-12deg);
        }
            
        100% {
                
            transform: translateY(20%) rotate(-15deg);
                
        }
    }

    @keyframes anim_c {
        0% {
            transform: translateY(120%) rotate(-15deg);

        }

        50% {
            transform: translateY(80%) rotate(-12deg);
        }
            
        100% {
                
            transform: translateY(120%) rotate(-15deg);
                
        }
    }






.vision_heading{
    font-weight: 800;
    color: $d-blue;
    line-height: 1.2em;
}




//styling of activities section

.activities{
    position: relative;
}

.cativity_card{
    text-align: right;
}



@media(max-width: 1200px){
    .hero_sec .hero_img-b{
        
        top: -3em;
    }
}




@media(max-width: 992px) {

    .sec_place-nerrow{
        padding: .5rem 0;
    }

    .hero_sec{
        margin-top: 7rem;
    }
    .intro_inner [class^="col-"] {
        margin-top: 1rem;
    }

    .hero_img-a{
        opacity: .7;
    }

    
    .nav_top-right {
        margin-top: .5rem;
    }

    .jst_lg-center{
        justify-content: center;
    }


    // styling of hero_sec
    .hero_text-sec{
        padding-left: 0;

        .hero_text-inner{
            width: 100%;
            padding: 0;
        }
    }

    .hero_text-sec .hero_text-inner{
        padding: 2rem 0;
    }
    
    .hero_sec .hero_img-b{
        top: .5rem;
        z-index: 2;
        left: auto;
        right: 9.5em;
        opacity: .7;
    }

    @keyframes img_b-anim {
        0% {
            transform: translateX(20%);

        }

        50% {
            transform: translateX(30%);
        }
        
        100% {
            
            transform: translateX(20%);
            
        }
    }

    //styling of vision_text-outer

    .vision_text-outer{
        margin-top: 80vh;
    }
    
}

@media(max-width: 810px){
    // styling of nav
    .nav_top [class^="col-"] {
        width: 100%;
    }

    .nav_top-left{
        justify-content: center;
    }
}

@media(max-width: 768px) {

    .hero_sec{
        margin-top: 9rem;
    }
    //styling of our_envoirnment section

    .enroll_sec{
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    //styling of vision 

    .vision_text-outer{
        margin-top: 60vh;
    }

}

@media(max-width: 576px) {

    //styling of nav section



    .navbar{
        padding: 0;
    }

    .nav_top-left{
        display: none;
    }

    .navbar-brand{
        font-size: .8em;
        padding: 0;
    }

    .navbar-toggler-icon{
        width: .8em;
        height: .8em;
        padding: 0;
        margin-bottom: .25rem;
    }

    //styling of hero section

    .hero_sec{
        margin-top: 4.8rem;
    }

    .hero_text{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero_text-sec{
            border-radius: .5rem;
            padding: 1rem;
            background-color: rgba($color: $white, $alpha: .32);

            .heading_para{
                color: $black;
            }
            
            .sec_heading{

                
                .heading_img{
                    display: none;
                }
            }
        }
    }

    .d_mb-none{
        display: none;
    }

    //styling of vision section
    .vision_img-a{
        top: -2rem;
    }
    .vision_img-a, .vision_img-b, .vision_img-c, .vision_img-g, .vision_img-e{
        left: 2em;
    }

    .vision_text-outer{
        margin-top: 25vh;
    }

    
}

.p-l-0{
    padding-left: 0!important;
}

.hero_text .sec_heading p{
    padding-bottom: 0;
}
